@import "./custom";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

small {
  font-size: 12px;
}

.btn-yellow {
  border: 0;
  border-radius: 100px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(166deg, #f8bc00 24%, #ffab2d 69%);
  color: $white;
}

.parent-cn,
.parent-cn {
  cursor: pointer;
  &:hover,
  &:focus {
    .card-nav {
      opacity: 0.8;
    }
  }

  & .card-nav {
    padding: 80px 0;
    background-position: center !important;
    background-size: cover !important;
    border-radius: 16px;
    border: 0;
    box-shadow: 0 0 8px 0 rgba(130, 130, 130, 0.15);
    background-color: #a5f6a3;
    color: $white;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.t-decor-0 {
  text-decoration: none !important;
}

.nav-green {
  box-shadow: 0 2px 8px 0 rgba(85, 85, 85, 0.15);
  background-image: linear-gradient(114deg, #56c596 46%, #2eba7f 59%);
  & .navbar-brand {
    color: $white;
  }
  & a.nav-link {
    font-size: 13px;
    color: $white !important;
    font-weight: 400;
    margin: 0 10px;
  }
}

.logo {
  width: 175px;
}

.menu-sm {
  border-radius: 16px;
  box-shadow: 0 2px 8px 0 rgba(130, 130, 130, 0.15);
  border: 0;
  .card-img {
    border-radius: 16px;
    padding: 5px;
  }
  .menu-title {
    font-size: 12px;
    padding: 10px;
  }
}
