@import "./custom";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
}

p,
span {
  font-size: 14px;
}

small,
h6 {
  font-size: 12px;
}

.btn-alt {
  border: 0;
  border-radius: 100px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  color: $white;
}

.btn-yellow {
  background-image: linear-gradient(166deg, #f8bc00 24%, #ffab2d 69%);
}

.btn-green {
  background-image: linear-gradient(166deg, #56c596 24%, #2eba7f 69%);
}

.btn-yellow-outline {
  border: 0;
  border-radius: 100px;
  color: $primary;
  border: 1px solid $primary;
  background: none;
  &.active,
  &:focus,
  &:hover {
    background-image: linear-gradient(166deg, #f8bc00 24%, #ffab2d 69%);
    color: $white;
  }
}

.btn-green-outline {
  border: 0;
  border-radius: 100px;
  color: $secondary;
  border: 1px solid $secondary;
  background: none;
  &.active,
  &:focus,
  &:hover {
    background-image: linear-gradient(166deg, #56c596 24%, #2eba7f 69%);
    color: $white;
  }
}

.parent-cn,
.parent-cn {
  cursor: pointer;
  &:hover,
  &:focus {
    .card-nav {
      opacity: 0.8;
    }
  }

  & .card-nav {
    padding: 80px 0;
    background-position: center !important;
    background-size: cover !important;
    border-radius: 16px;
    border: 0;
    box-shadow: 0 0 8px 0 rgba(130, 130, 130, 0.15);
    background-color: #a5f6a3;
    color: $white;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.t-decor-0 {
  text-decoration: none !important;
}

#nav-bale {
  & .navbar-brand {
    color: $white;
  }
  & a.nav-link {
    font-size: 13px;
    color: $white;
    font-weight: 400;
    margin: 0 10px;
  }
}

.bg-green {
  background-image: linear-gradient(114deg, #56c596 46%, #2eba7f 59%);
}

.bg-yellow {
  background-image: linear-gradient(114deg, #f8bc00 46%, #ffab2d 59%);
}

.logo {
  width: 175px;
}

.menu-sm,
.card {
  border-radius: 16px;
  box-shadow: 0 2px 8px 0 rgba(130, 130, 130, 0.15);
  border: 0;
  .card-img {
    border-radius: 16px;
    padding: 5px;
  }
  .menu-title {
    font-size: 12px;
    padding: 10px;
  }
}

.list-package {
  list-style: none;
  li::before {
    content: "\2022";
    color: #56c596;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -2em;
  }
}

.ms--2 {
  margin-left: -0.5rem !important;
}

.clean.card-footer {
  background: none;
  border: 0;
  padding-top: 0;
}

.block-text {
  background-color: #f3f3f3;
  padding: 5px 20px;
  border-radius: 8px;
  font-style: italic;
  font-size: 12px;
}

.pointer {
  cursor: pointer;
}

input.form-cstm.form-control {
  border-radius: 16px !important;
  box-shadow: 0 2px 8px 0 rgb(81 81 81 / 15%) !important;
  background-color: #fff;
  border: none;
}

span.txt-form {
  position: absolute;
  z-index: 1;
  right: 5rem;
  margin-top: 1.1rem;
  font-weight: 500;
}

footer.bale {
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #ebebeb;
  color: #7e7e7e;
  font-weight: 400;
  font-size: 12px;
}

.tab-menu.nav.nav-fill {
  background: none;
  box-shadow: none;
  & .nav-item {
    & a {
      color: #7e7e7e !important;
      font-weight: 700;
      cursor: pointer;
      &.active {
        color: $green !important;
        border-bottom: 3px solid;
      }
    }
  }
}

.btn-cal {
  min-width: 180px;
}
